fastapi
uvicorn
streamlit
PyMuPDF              
pytesseract          
Pillow               
pdfplumber           
python-multipart     
chromadb             
sentence-transformers  
tqdm
pydantic
python-dotenv
requests
